<div class="header-container">
  <mat-toolbar class="sticky">
    <button mat-button routerLink="/">{{ t('nav.home') }}</button>
    <button mat-button routerLink="/projects">{{ t('nav.projects') }}</button>
    
    <span class="spacer"></span>
    
    <button class="lang-toggle-btn" (click)="toggleLanguage()" aria-label="Toggle language">
      @if (currentLang() === 'en') {
        <span class="flag-icon">🇬🇧</span> <span class="lang-text">EN</span>
      } @else {
        <span class="flag-icon">🇨🇿</span> <span class="lang-text">CZ</span>
      }
    </button>
  </mat-toolbar>

  <!-- This is the new canvas for the animation -->
  <div class="animation-canvas">
    <h1 (mouseover)="startAnimation()">{{currentValue()}}</h1>
    <!-- The star component lives here, inside the canvas that will clip it -->
    <div class="sky">
      @for ( star of stars; track $index; let i = $index) {
          <app-star [index]="i"></app-star>
        }
    </div>
  </div>
</div>