
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  height: 100%;
  
  // Default light theme
  @include mat.theme((color: (
        theme-type: light,
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    ));

  // Dark theme for preferences
  @media (prefers-color-scheme: dark) {
    @include mat.theme((color: (
          theme-type: dark,
          primary: mat.$azure-palette,
          tertiary: mat.$blue-palette,
        ),
        typography: Roboto,
        density: 0,
      ));
  }
}

body {
  // Respect system color scheme
  color-scheme: light dark;

  // Set default background, font and text colors using system-level preferences
  margin: 0;
  height: 100%;
  font: var(--mat-sys-body-medium);

  // Light mode background & text color
  background-color: #ffffff;
  color: #1e293b;

  // Dark mode background & text color override
  @media (prefers-color-scheme: dark) {
    background-color: #0a0d14;
    color: #e2e8f0;
  }
}

